* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
}

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-button-hover-color: rgba(87, 84, 236, 1);
  --right-button-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #333;
  position: relative;
}

.split {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.split.left {
  background-image: url("/css/img/ps5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
}

.split.left::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--left-bg-color);
  position: absolute;
}
.split.right::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--right-bg-color);
  position: absolute;
}

.split.right {
  right: 0;
  background-image: url("/css/img/xbox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  top: 30%;
  left: 50%;
  position: absolute;
  color: white;
  font-size: 5rem;
  transform: translateX(-50%);
  white-space: nowrap;
}

.split .btn {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    border: 2px solid white;
    padding: 2rem;
    color:white;
    font-weight: bold;
}

.split.right .btn:hover {
    background-color: var(--right-button-hover-color);
    border: 2px solid var(--right-button-hover-color)
}
.split.left .btn:hover {
    background-color: var(--left-button-hover-color);
    border: 2px solid var(--left-button-hover-color)
}


.container.left-active .split.left{
    width: var(--hover-width)
}
.container.left-active .split.right{
    width: var(--other-width)
}
.container.right-active .split.right{
    width: var(--hover-width)
}
.container.right-active .split.left{
    width: var(--other-width)
}


.split.right, .split.left, .split.right::before, .split.left::before {
    transition: width var(--speed) ease;
}




@media screen and (max-width:1400px){
    h1 {
        font-size: 3rem;
    }

   .split .btn {
    transform: translateX(-50%);
    font-size: 2rem;
    padding: 1rem;
   
}
.container.left-active .split.left{
    width: 65%
}
.container.left-active .split.right{
    width: 35%
}
.container.right-active .split.right{
    width: 65%
}
.container.right-active .split.left{
    width: 35%
}
}


